<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
   My-tweetbook Application is a web-based in-product application aimed at fostering teamwork and collaboration within an organisation.
</p>
<p>This is a LAN-based microblogging system aimed at aggregating the flow of information within an organization. This is a in-product that will be used only within the organizations domains and I have the necessary mechanisms to ensure that external users have no access to the application’s services.</p>

