<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the My-tweetbook Application here
</p>

<p>This is a LAN-based microblogging system aimed at aggregating the flow of information within an organization. This is a in-product that will be used only within the organizations domains and I have the necessary mechanisms to ensure that external users have no access to the application’s services.</p>