<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>What has been Happenning</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>


<div class="center hero-unit">
  
  <h1>My-tweetbook, the new way to socialize</h1>
  <div class="active item"><%= link_to image_tag("images.jpeg") %></div>
    

  <h3>Do you have an Acc? signup here.... 

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>


<% end %>