<li>
  <%= image_tag user.avatar.url( :thumb) %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Are You sure?? This will destroy the user Permanently!!" } %>
  <% end %>
</li>