<div class="row">
    <div class="span3 offset">
      <%= form_for(@micropost) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.text_area :content, :rows =>1, placeholder: "Your Position in the organization..." %>
        </div>

        <div class="field">
  	       <%= f.text_area :image_url, :rows =>4, placeholder: "What are you doing..? Please give an update..." %>
        </div>

     
       <%= f.submit "Post", class: "btn btn-large btn-primary" %>
       <% end %>
    </div>
</div>